/*GRID-TEMPLATE MAIN====================*/

/*GRID-TEMPLATE HERO====================*/
.grid-template-hero {
    width: 100vw;
    height: 41.3888888889vw;
    position: relative;
}

.grid-template-hero .wrapper {
    display: flex;
    height: 100%;
    color: var(--color-white);
}

.grid-template-hero .wrapper .grid-template-main-image {
    width: 57.08333333333vw;
    height: 100%;
    position: relative;
}

.grid-template-hero .wrapper .grid-template-main-image::before {
    content: "";
    width: var(--spacing-100);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) -1.57%, #000 101.57%);
}

.grid-template-hero .wrapper .grid-template-main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center right;
}

.grid-template-hero .wrapper .grid-template-main-content {
    width: 42.9166666667vw;
    text-transform: uppercase;
    padding-top: var(--header-height);
    padding-left: var(--spacing-24);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-template-hero .wrapper .grid-template-main-content .heading {
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing-10);
    margin-bottom: var(--spacing-40);
    max-width: calc(
        100% - var(--spacing-24) - var(--offset-left) +
            var(--container-spacing-x)
    );
}

@media (max-width: 991px) {
    .grid-template-hero {
        height: min(116.9230769231vw, 100vh);
    }

    .grid-template-hero .wrapper {
        display: block;
        position: relative;
    }

    .grid-template-hero .wrapper .grid-template-main-image {
        width: 100%;
        height: auto;
    }

    .grid-template-hero .wrapper .grid-template-main-image img {
        height: auto;
        object-position: center;
    }

    .grid-template-hero .wrapper .grid-template-main-image::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: unset;
        bottom: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 47.61%, #000 100%);
    }

    .grid-template-hero .wrapper .grid-template-main-content {
        width: 100%;
        position: absolute;
        bottom: var(--spacing-40);
        left: 50%;
        transform: translateX(-50%);
        padding: 0 var(--spacing-20);
    }
}

/*GRID-TEMPLATE GRID====================*/
.grid-template-grid {
    background-color: var(--color-white);
}

.grid-template-grid .sc-inner {
    padding-top: var(--spacing-60);
    padding-bottom: var(--spacing-100);
}

.grid-template-grid .wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing-100);
    align-items: center;
}

.grid-template-grid .wrapper .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    column-gap: var(--spacing-24);
    row-gap: var(--spacing-50);
}

.grid-template-grid .grid .grid-template-item {
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing-10);
}

.grid-template-grid .grid .grid-template-item .image {
    width: 100%;
    height: auto;
    aspect-ratio: 1.3374613003;
    overflow: hidden;
}

.grid-template-grid .grid .grid-template-item:hover .image img {
    transform: scale(1.1);
}

.grid-template-grid .grid .grid-template-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: var(--duration) var(--timing-function);
}

.grid-template-grid .grid .grid-template-item .title {
    transition: var(--duration) var(--timing-function);
}

.grid-template-grid .grid .grid-template-item:hover .title {
    color: var(--color-blue);
}

@media (max-width: 991px) {
    .grid-template-grid .wrapper .grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: var(--spacing-16);
    }
}
